.steps-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.flex-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  flex: 1;
}

.steps-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 14rem;
  padding: 1.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37, 119, 244);
  background: linear-gradient(
    111deg,
    rgba(37, 119, 244, 1) 0%,
    rgba(112, 9, 242, 1) 40%,
    rgb(226, 197, 4) 100%
  );
  width: 2.5rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  color: #fff;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.steps-item p {
  line-height: 1.5;
  opacity: 0.6;
  min-height: 5rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}


.steps-item h2 {
  font-size: 1.05rem;
}