.steps-item {
  min-width: 20rem;
  max-width:25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37, 119, 244);
  background: linear-gradient(
    111deg,
    rgba(37, 119, 244, 1) 0%,
    rgba(112, 9, 242, 1) 30%,
    rgba(112, 9, 242, 1) 50%,
    rgba(255, 220, 0, 1) 110%
  );
  max-width: 3rem;
  min-width: 3rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  color: #fff;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
