.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    111deg,
    rgba(37, 119, 244, 1) 0%,
    rgba(112, 9, 242, 1) 50%,
    rgba(255, 220, 0, 1) 90%
  );
  padding: 3rem 0;
  color: #fff;
}

.faq-icon {
  color: #fff;
  background-color: rgb(255, 128, 0);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}
