

.img-holder {
  position: relative;
  background-color: rgb(248, 224, 183);
  min-width: 15rem;
  min-height: 15rem;
  border-radius: 1rem;
  place-self: center;
  margin-right: 2rem;
}

.img-holder > * {
  position: absolute;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.business-img {
  min-width: 15rem;
  max-height: 32rem;
  height: 180%;
  top: -5rem;
  left: 1rem;
}
.business-qcode {
  width: 60%;
  height: 60%;
  left: 75%;
  top: 50%;
}
.business-user {
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 3px solid #fff;
}

.icon {
  padding: 0.9rem;
  border-radius: 100%;
  font-size: x-large;
}

.icon-strong {
  background-color: rgba(23, 255, 2, 0.306);
  color: rgb(23, 255, 2);
}

.icon-blob {
  background-color: rgba(162, 0, 255, 0.188);
  color: rgb(162, 0, 255);
}

.icon-scale {
  background-color: rgba(20, 127, 248, 0.33);
  color: rgb(20, 126, 248);
}

.icon-professional {
  background-color: rgba(248, 181, 99, 0.485);
  color: rgb(255, 157, 0);
}
