.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.service-container > * {
  width: 50%;
}

.service-title {
  display: flex;
  flex-direction: column;
}

.service-title p {
  line-height: 2rem;
}

.service-title li {
  display: flex;
  align-items: center;
  padding: 0.15rem;
}

.service-title li span {
  margin-left: 0.75rem;
  letter-spacing: 0;
}

.check-icon {
  color: rgb(44, 135, 255);
}
