.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  aspect-ratio: 2/1;
}

.service-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
}

.service-title p {
  line-height: 2rem;
}

.service-title li {
  display: flex;
  align-items: center;
  padding: 0.15rem;
}

.service-title li span {
  font-size: 1.1rem;
  margin-left: 0.75rem;
  letter-spacing: 0;
}

.check-icon {
  color: rgb(44, 135, 255);
}
.service-image-container {
  display: flex;
  justify-content: flex-end;
  min-width: 20rem;
}

.service-image {
  position: relative;
  width: 50%;
  aspect-ratio: 1/2;
  background-color: rgb(183, 153, 223);
  border-radius: 1rem;
  margin-inline: auto
}

.service-image > * {
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.share-img {
  height: 70%;
  max-width: 200%;
  border: solid 3px black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.share-user-img {
  width: 70%;
  height: 55%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.share-person {
  border-radius: 100%;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  height: 23%;
  width: 38%;
  border: solid 5px #fff;
}
