

.facebook-icon {
  background-color: rgb(28, 142, 236);
  color: #fff;
}

.instagram-icon {
  background: linear-gradient(45deg, #8134af, #ed3833);
  color: white;
}

.github-icon {
  background-color: black;
  color: #fff;
}
