.container {
  width: 80vw;
  height: 80vh;
  padding: 20px;
  margin: 20px;
}

.background-image {
  background: url("./images/background-svg.svg");
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
