.main-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  line-height: 1.4;
  font-family: "Merriweather", serif;
}


